<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

  <resultMap type="com.test.domain.Board" id="board">
	<result property="no" column="no" jdbcType="INTEGER" />
	<result property="title" column="title" jdbcType="VARCHAR" />
	<result property="writer" column="writer" jdbcType="VARCHAR" />
	<result property="password" column="password" jdbcType="VARCHAR" />
	<result property="content" column="content" jdbcType="VARCHAR" />
	<result property="writeDate" column="writedate" jdbcType="DATE" />
	<result property="groupNo" column="group_no" jdbcType="INTEGER" />
	<result property="groupOrder" column="group_order" jdbcType="INTEGER" />
	<result property="indent" column="indent" jdbcType="INTEGER" />
	<result property="deleteStatus" column="deletestatus" jdbcType="INTEGER" />
	<result property="parentNo" column="parentNo" jdbcType="INTEGER" />
	<result property="replyCount" column="replyCount" jdbcType="INTEGER" />
	<result property="fileName" column="fileName" jdbcType="VARCHAR" />
</resultMap>
 
 <!-- 게시판 글 목록 -->
	 <select id="contentList" parameterType="com.test.domain.Board" resultMap="board">
		SELECT no, title, writer, writedate
		FROM board
	 	ORDER BY no DESC
	 </select>
	 
	 <!-- 게시판 글 작성 답글 구현 전 -->
<!-- 	 <insert id="addContent" parameterType="com.test.domain.Board" >
	 	INSERT
		INTO BOARD(NO, TITLE, WRITER, PASSWORD, CONTENT, write_date)
		VALUES (NO_SEQ.NEXTVAL, #{title}, #{writer}, #{password}, #{content}, SYSDATE)
	 </insert>
 -->
	 <!-- 게시판 글 작성 -->
	 <insert id="addContent" parameterType="com.test.domain.Board" >
	 	INSERT
		INTO BOARD(NO, TITLE, WRITER, PASSWORD, CONTENT, writedate, group_no, group_order, indent,fileName)
		VALUES (NO_SEQ.NEXTVAL, #{title}, #{writer}, #{password}, #{content}, SYSDATE, NO_SEQ.CURRVAL,0,0, #{fileName})
	 </insert>
	 
	 <!-- 게시판 글 상세보기 -->
	 <select id="getContent" parameterType="com.test.domain.Board" resultMap="board">
		SELECT no, title, writer, writedate, content, password, group_no, group_order, indent, fileName
		FROM board
		WHERE no=#{no}
	 </select>
	 

	 <!-- 글 수정 -->
	 <update id="updateContent" parameterType="com.test.domain.Board" >
	    UPDATE board
 		SET content=#{content}, title=#{title}, writer=#{writer}, 
 		<if test = "fileName ! = null">
 		fileName=#{fileName}
 		</if>
		WHERE no=#{no}
	 </update>
	 
	 <!-- 글 삭제 답글 구현 전 -->
	 <!-- <delete id="deleteContent">
	 	DELETE FROM board
	 	WHERE no=#{no}
	 </delete> -->
	 
	 <!-- 글 삭제 답글 구현 후 -->
	 <update id="deleteContent" parameterType="com.test.domain.Board" >
	    UPDATE board
 		SET deletestatus = 1
		WHERE no=#{no}
	 </update>
	 
	 <!-- 글 목록 페이징 -->
	 <select id="listPage" parameterType="com.test.domain.Criteria" resultMap="board">
	 	SELECT no, title, writer, writedate,group_no, group_order, indent
		FROM (SELECT ROWNUM AS no, title, writer, writedate,group_no, group_order, indent FROM 
				(SELECT no,title, writer, writedate, group_no, group_order, indent
				 FROM board
				 START WITH group_order = 0
				 CONNECT BY NOCYCLE group_no = PRIOR no
				 ORDER SIBLINGS BY group_no DESC
				 )
			  )
		WHERE no BETWEEN #{rowStart} AND #{rowEnd}
	 </select>
	 
	 <!-- 게시물 총 갯수 -->
	 <select id="listCount" resultType="int">
	 	SELECT COUNT(no)
		FROM board
	 </select>
	 
	 <!-- 검색 -->
	 <select id="listSerach" resultType="com.test.domain.Board" parameterType="com.test.domain.SearchCriteria" >
		SELECT no, title,writer, writeDate, group_no, group_order, indent, deletestatus, parentNo, fileName,(SELECT COUNT(*) FROM reply WHERE no=b.no) replyCount
		FROM (SELECT no, title, writer, writedate, group_no, group_order, indent,deletestatus,parentNo,replyCount,fileName,row_number() over(ORDER BY group_no DESC) rNum
		FROM (SELECT no, title,writer, writeDate, group_no, group_order, indent, deletestatus, parentNo,fileName,replyCount
			  FROM board
			  ORDER BY group_order ASC)
		<include refid="search"></include>) b
		WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY group_no DESC, group_order
	 </select>
	 
	 <!-- 검색 -->
<!-- 	 <select id="listSerach" resultType="com.test.domain.Board" parameterType="com.test.domain.SearchCriteria" >
		SELECT no, title,writer, writeDate, group_no, group_order, indent, deletestatus
		FROM (SELECT no, title, writer, writedate, group_no, group_order, indent,deletestatus,row_number() over(ORDER BY group_no DESC) rNum
		FROM (SELECT no,title, writer, writedate, group_no, group_order, indent, deletestatus
				 FROM board
				 START WITH group_order = 0
				 CONNECT BY NOCYCLE group_no = PRIOR no
				 ORDER SIBLINGS BY group_order ASC)
		<include refid="search"></include>) b
		WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
	 </select> -->
	 
	 <!-- 검색 -->
	<!--  <select id="listSerach" resultType="com.test.domain.Board" parameterType="com.test.domain.SearchCriteria" >
		SELECT no, title,writer, writeDate, group_no, group_order, indent, deletestatus
		FROM (SELECT ROWNUM as rNum, no, title, writer, writedate, group_no, group_order, indent,deletestatus
		FROM (SELECT no,title, writer, writedate, group_no, group_order, indent, deletestatus
				 FROM board
				 START WITH group_order = 0
				 CONNECT BY NOCYCLE group_no = PRIOR no
				 ORDER SIBLINGS BY group_order ASC)
		<include refid="search"></include>) b
		WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
	 </select> -->
	 
	 <sql id="search">
	 	<if test="searchType != null">
	 		<if test="searchType == 'w'.toString()">WHERE writer LIKE '%' || #{keyword} || '%'</if>
	 		<if test="searchType == 't'.toString()">WHERE title  LIKE '%' || #{keyword} || '%'</if>
	 	</if>
	 </sql>
	 
	 	 <!-- 검색 게시물 총 갯수 -->
	 <select id="searchCount" resultType="int">
	 	SELECT COUNT(no)
		FROM board
		<include refid="search"></include>
	 </select>
	 
	 <!-- 답글 작성 -->
	 <insert id="addContentReply" parameterType="com.test.domain.Board">
		INSERT INTO
		BOARD (no, title, writer, content, password, writedate, group_no, group_order, indent, deletestatus, parentNo,fileName)
		VALUES (NO_SEQ.NEXTVAL, #{title}, #{writer}, #{content}, #{password}, SYSDATE, #{groupNo}, 
		#{groupOrder}+1, 
        (SELECT NVL(max(#{indent}),1)+1 FROM board WHERE group_no = #{groupNo} AND indent = #{indent}),
        DEFAULT, NO_SEQ.CURRVAL,#{fileName})
	 </insert>
	 
	 <!-- 답글 작성시 groupOrder 증가 업뎃 -->
	 <update id="updateGroupOrder" parameterType="com.test.domain.Board">
	
	  <![CDATA[
	 	UPDATE board
	 	SET group_order = group_order+1
	 	WHERE group_no = #{groupNo} AND group_order > #{groupOrder}
	 ]]>
	 
	 </update>
	 
<!-- 	 <select id="replyCount" resultType="int">
	 	SELECT COUNT(rno)
	 	FROM reply
	 	WHERE no = 331
	 </select> -->
	 
	 
	 <!-- 답글 그룹에 대한  갯수 -->
	 <select id="groupNoCount" resultType="int">
	 	SELECT COUNT(group_no)
	 	
		FROM board
		WHERE group_no = #{groupNo}
	 </select>
	 
	 
	 <!-- 비밀번호 체크 -->
	 <select id="pwdCheck" parameterType="com.test.domain.Board" resultMap="board">
	 	SELECT no, password
	 	FORM board
	 	WHERE no=#{no} AND password=#{password}
	 </select>
	 
	 
</mapper>